footer.footer {
  margin-top: 3rem;
  margin-left: 5rem;
  display: flex;
  color: aliceblue;
  text-align: justify;
  align-items: center;
  justify-content: center;
  box-shadow: 14px 14px 16px #541e01, -14px -14px 16px #782a01;
}
