aside.menuArea {
  background-color: var(--bg-dark);
  border-radius: 0px;
  background: linear-gradient(145deg, #5c2001, #6d2701);
  box-shadow: 14px 14px 16px #541e01, -14px -14px 16px #782a01;
  max-width: 200px;
  min-block-size: 100%;
}

.menu a {
  font-family: "Anton", sans-serif;
  color: aliceblue;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 15px;
  max-width: 200px;
  background: linear-gradient(145deg, #5c2001, #6d2701);
  box-shadow: 14px 14px 16px #541e01, -14px -14px 16px #782a01;
}

.menu a:hover {
  background: linear-gradient(135deg, #662401 0%, #ff6b1b 100%);
}
